@use "../../global/functions" as *;
@use "../../global/variables" as *;
@use "../../global/mixins" as *;
@use "../../object/utility/contents_style" as *;

@mixin base {

  .pg-mlitfilter {
    padding-top: size(58);
  }
}

@mixin md {
    .pg-mlitfilter {
      padding-top: size(64);

    }
}

@mixin xl {
    .pg-mlitfilter {
      padding-top: size(64);

    }
}
