@use "../../global/functions" as *;
@use "../../global/variables" as *;
@use "../../global/mixins" as *;
@use "../../object/utility/contents_style" as *;

@mixin base {

  .pg-mlitfilter-story {
    color: $color-white;
    background-color: $color-black;

    &__container {
      margin-inline: auto;
    }

    &__visual {
      display: grid;
      place-content: center;
      min-height: size(370);
      text-align: center;
      background-image: url("~/images/mlitfilter/made_in_japan_background_sp.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    &__title {
      font-size: text-size(16);
      line-height: 1.45;
      margin: 0;
      font-weight: $font-medium;
    }

    &__label {
      font-family: $font-family-english;
      font-weight: $font-semibold;
      letter-spacing: 0.05em;
      font-size: text-size(20);
      line-height: 1.4;
      margin: size(22) 0 0;
    }

    &__list {
      display: grid;
    }

    &__item {
      display: grid;
      place-content: center;
      min-height: size(330);
      padding: 0;
      text-align: center;
      background-repeat: no-repeat;
      background-position: center;
      background-size: auto 100%;
    }

    &__item--material {
      background-image: url("~/images/mlitfilter/material_story_background_sp.jpg");
      background-position: center;
      background-size: 100% auto;
    }

    &__item--product {
      background-image: url("~/images/mlitfilter/product_story_background_sp.jpg");
      background-position: center;
      background-size: 100% auto;
    }

    &__name {
      font-weight: $font-medium;
      font-size: text-size(16);
      margin: 0;
    }


    &__text {
      font-family: $font-family-japanese;
      font-size: text-size(12);
      line-height: 1.8;
      margin-top: size(20);
      padding-left: size(20);
      padding-right: size(20);
      color: $color-white;
    }
  }
}

@mixin md {

    .pg-mlitfilter-story {
      &__visual {
        margin-top: size(132);
        aspect-ratio: 3840 / 1766;
        min-height: auto;
        background-image: url("~/images/mlitfilter/made_in_japan_background_pc.jpg");
        background-size: 100% auto;
      }

      &__title {
        margin-top: size(80);
        font-size: text-size(56);
        line-height: 1.4;
      }

      &__list {
        grid-template-columns: 1fr;
      }

      &__item {
        aspect-ratio: 12 / 5;
        min-height: auto;
        background-size: 100% auto;
      }

      &__item--material,
      &__item--product {
        background-size: 100% auto;
      }

      &__item--material {
        background-image: url("~/images/mlitfilter/material_story_background_pc.jpg");
      }

      &__item--product {
        background-image: url("~/images/mlitfilter/product_story_background_pc.jpg");
      }

      &__name {
        margin-top: size(-60);
        font-size: text-size(34);
        line-height: 1.5;

      }

      &__text {
        width: size(640);
        font-size: text-size(16);
        line-height: 2;
        text-align: left;
        padding-left: size(0);
        padding-right: size(0);
      }
    }
}

@mixin xl {

    .pg-mlitfilter-story {
      &__visual {
        margin-top: size(132);
        aspect-ratio: 3840 / 1766;
        min-height: auto;
        background-image: url("~/images/mlitfilter/made_in_japan_background_pc.jpg");
        background-size: 100% auto;
      }

      &__title {
        margin-top: size(380);
        font-size: text-size(56);
        line-height: 1.4;
      }

      &__list {
        grid-template-columns: 1fr;
      }

      &__item {
        aspect-ratio: 12 / 5;
        min-height: auto;
        background-size: 100% auto;
      }

      &__item--material,
      &__item--product {
        background-size: 100% auto;
      }

      &__item--material {
        background-image: url("~/images/mlitfilter/material_story_background_pc.jpg");
      }

      &__item--product {
        background-image: url("~/images/mlitfilter/product_story_background_pc.jpg");
      }

      &__name {
        margin-top: size(-60);
        font-size: text-size(34);
        line-height: 1.5;

      }

      &__text {
        width: size(640);
        font-size: text-size(16);
        line-height: 2;
        text-align: left;
        padding-left: size(0);
        padding-right: size(0);
      }
    }
}
