@use "../../global/functions" as *;
@use "../../global/variables" as *;
@use "../../global/mixins" as *;
@use "../../object/utility/contents_style" as *;
#index {
  .pg-index-products {
    background-color: $color-white;

    @include md {
      padding-top: size(44);
    }

    &__list {
      display: grid;
      gap: size(20);
      @include md {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }
    }
  }
}
