@use "../../global/functions" as *;
@use "../../global/variables" as *;
@use "../../global/mixins" as *;
@use "../../object/utility/contents_style" as *;

@mixin base {

  .pg-index-news {
    padding-top: size(92);
    background-color: $color-white;

    &__container {
      position: relative;
      display: grid;
      gap: size(28);
    }

    &__background {
      font-size: text-size(112);
      line-height: 0.88;
      position: absolute;
      top: size(-36);
      left: 0;
      z-index: 0;
      margin: 0;
      font-family: $font-family-english;
      font-weight: $font-bold;
      letter-spacing: 0;
      color: rgba($color-background, 0.94);
      writing-mode: vertical-rl;
    }

    &__list,
    &__actions {
      position: relative;
      z-index: 1;
      margin-left: 0;
    }

    &__actions {
      display: flex;
      justify-content: flex-end;
    }
  }
}

@mixin md {

    .pg-index-news {
      padding-top: size(94);
      padding-bottom: size(80);

      &__container {
        width: size(1000);
        margin: auto;
        gap: size(28);
      }

      &__background {
        font-size: text-size(128);
        top: size(-94);
      }

      &__list,
      &__actions {
        margin-left: size(230);
      }
    }
}

@mixin xl {

    .pg-index-news {
      margin: auto;
      padding-top: size(94);
      padding-bottom: size(80);

      &__container {
        width: size(1200);
        gap: size(28);
        margin: auto;
      }

      &__background {
        font-size: text-size(128);
        top: size(-100);
      }

      &__list,
      &__actions {
        margin-left: size(230);
      }
    }
}
