@use "../../../global/functions" as *;
@use "../../../global/variables" as *;
@use "../../../global/mixins" as *;

.c-cards-news {
  border-bottom: 1px solid $color-border-gray;

  &__link {
    position: relative;
    display: grid;
    gap: size(10);
    padding: size(16) size(54) size(20) size(54);
    color: $color-text-main;
    text-decoration: none;
    transition: opacity 0.2s ease;
  }

  &__link:hover,
  &__link:focus-visible {
    opacity: 0.6;
  }

  &__link::after {
    content: "";
    position: absolute;
    top: 50%;
    right: size(32);
    display: block;
    width: size(9);
    height: size(14);
    background-image: url("~/images/mlitfilter/icon_arrow_black.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: translateY(-50%);
  }

  &__meta {
    display: flex;
    align-items: center;
    gap: size(20);
  }

  &__date {
    font-size: text-size(13);
    line-height: 1.4;
    font-family: $font-family-english;
    font-weight: $font-bold;
    color: $color-category-gray;
  }

  &__category {
    font-size: text-size(12);
    line-height: 1.4;
    width: fit-content;
    padding: size(4) size(10);
    font-weight: $font-medium;
    color: $color-white;
    background-color: $color-category-gray;
    border-radius: size(999);
  }

  &__title {
    font-size: text-size(16);
    line-height: 1.7;
    margin: 0;
    font-weight: $font-medium;
  }
}

@include xl {
  .c-cards-news {
    &__link {
      gap: size(28);
      padding: size(16) size(54) size(30) size(32);
    }

    &__date {
      font-size: text-size(16);
    }

    &__category {
      font-size: text-size(12);
      padding: size(4) size(16);
    }

    &__title {
      font-size: text-size(20);
    }
  }
}
