/// colors
/// アプリで使うカラーは全てここにトークン化してください。
$color-main-green: #07913a;
$color-text-main: #1c1c1c;
$color-category-gray: #a9a9a9;
$color-background: #f7f7f7;
$color-black: #000000;
$color-header-footer: #303030;
$color-topback-button: #616161;
$color-white: #ffffff;

$color-text-sub: $color-category-gray;
$color-border-gray: $color-category-gray;

/// form colors
$color-error: #ff0000;
$color-error-background: #ff9999;
